# Dependencias
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts

# Producción
/build

# Variables de entorno
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Sistema
.DS_Store
*.log
npm-debug.log*
